@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap&subset=latin-ext");

:root {
  --dark-blue: #060016;
  --dark-blue-light: rgba(6, 0, 22, 0.95);
  --font-color: white;
}

@font-face {
  font-family: "Matroska";
  src: url(../assets/Matroska.ttf), url(../assets/Matroska.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

body {
  background-color: var(--dark-blue);
}

html,
body {
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Matroska";
  font-size: 24px;
  line-height: 24px;
  color: var(--font-color);
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: var(--font-color);
}

h4 {
  font-family: "Montserrat";
  font-size: 147px;
  position: absolute;
  color: var(--font-color);
  opacity: 0.15;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  left: 0;
  line-height: 120px;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: var(--font-color);
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: block mandatory;
}

section {
  position: relative;
  scroll-snap-align: start;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-blue-light);
  transition: 0.5s all 0.3s cubic-bezier(0, 0.52, 0, 1);
  transform: translatex(100%);
  z-index: 20;
}

.navbar.active {
  transform: translateX(0%);
}

.navbar nav {
  width: 100%;
  height: 100vh;
}

.navbar nav ul {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  transform: translateY(40px);
}

.navbar nav ul li {
  padding-bottom: 40px;
  position: relative;
  transform: translateX(1000px);
  transition: 0.5s all cubic-bezier(0.1, 0.52, 0, 1);
  transition-delay: calc(var(--i) * 0.1s);
}

.navbar.active nav ul li {
  transform: translateX(0px);
}

.navbar nav ul li.active h1::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--font-color);
  position: absolute;
  left: 50%;
  bottom: 22px;
}

.menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 25px;
  height: 25px;
  border: 2px solid var(--font-color);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.menu-btn span {
  height: 2px;
  width: 13px;
  background-color: var(--font-color);
  transition: 0.5s all 0.3s cubic-bezier(0, 0.52, 0, 1);
}

.menu-btn span:nth-child(2) {
  margin: 2px 0;
}

.menu-btn.active span {
  width: 14px;
}

.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate3d(4px, 4px, 0);
}

.menu-btn.active span:nth-child(2) {
  visibility: hidden;
  margin: 4px 0;
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate3d(4px, -5px, 0);
}

.desktop-social-media {
  display: none;
}

/*HOME SECTION*/

section.home {
  padding: 0 24px 0 48px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home .intro-wrapper {
  width: 50%;
  padding-right: 12px;
  position: relative;
}
.home .intro-wrapper .name-wrapper {
  margin-bottom: 12px;
  opacity: 0;
  visibility: hidden;
  animation: fadein 0.9s 2s forwards;
}

.home .intro-wrapper .position-wrapper {
  margin-bottom: 24px;
  opacity: 0;
  visibility: hidden;
  animation: fadein 0.9s 2.2s forwards;
}

.home .intro-wrapper .aboutme-wrapper {
  opacity: 0;
  visibility: hidden;
  animation: fadein 2s 2.4s forwards;
}

.home .intro-wrapper .vintage {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.home .intro-wrapper ul.social-media {
  position: absolute;
  bottom: 0;
}

.social-media li:nth-child(1) {
  animation-delay: 2.6s;
}

.social-media li:nth-child(2) {
  animation-delay: 2.7s;
}

.social-media li:nth-child(3) {
  animation-delay: 2.8s;
}

.social-media li {
  display: inline-block;
  list-style-type: none;
  margin-left: 12px;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  animation-duration: 1s;
  animation-name: slidedown;
  animation-fill-mode: forwards;
}

@keyframes slidedown {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

.social-media li:first-child {
  margin-left: 0px;
}

.home .img-wrapper {
  width: 50%;
  height: 264px;
  border-radius: 100px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  animation: smallfadein 1s 2.4s forwards;
}

@keyframes smallfadein {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 0.8;
    visibility: visible;
  }
}

.home .img-wrapper > div {
  width: 100%;
  height: 100%;
  background-image: url("../assets/man-in-camel-coat.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home .img-wrapper > div .glitch-box {
  position: absolute;
  background-image: url("../assets/man-in-camel-coat.jfif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(0.4) translateX(-125%);
}

/*TECHNOLOGIES SECTION*/

section.technologies {
  min-height: 100vh;
}

.technologies h4 {
  font-size: 72px;
  line-height: 68px;
}

.technologies .bg-text-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
}

.technologies .technology-wrapper {
  position: relative;
  width: 100%;
}

.technologies .technology-wrapper img {
  width: 100%;
  object-fit: cover;
}

.technologies .technology-wrapper .img-title-wrapper {
  position: absolute;
  right: 24px;
  bottom: 12px;
  object-fit: cover;
}

.technologies .technology-wrapper .img-title-wrapper h1 {
  text-align: right;
}

.technologies .technology-wrapper .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(234, 234, 234, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies .technology-wrapper .circle img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.technologies .technology-wrapper .vue-wrapper {
  position: absolute;
  top: 64px;
  left: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.technologies .technology-wrapper .vue-wrapper img {
  width: unset;
  height: 22px;
  transform: translateY(2px);
}

.technologies .technology-wrapper .react-wrapper {
  position: absolute;
  top: 18px;
  left: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.technologies .technology-wrapper .react-wrapper img {
  width: 32px;
  height: 32px;
}

.technologies .technology-wrapper .ts-wrapper {
  position: absolute;
  top: 95px;
  left: 128px;
  border-radius: 50%;
  overflow: hidden;
}

.technologies .technology-wrapper .js-wrapper {
  position: absolute;
  top: 163px;
  left: 168px;
  border-radius: 50%;
  overflow: hidden;
}

.technologies .technology-wrapper .js-wrapper img {
  width: 22px;
  height: 22px;
}

.technologies .technology-wrapper .css-wrapper {
  position: absolute;
  top: 155px;
  left: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.technologies .technology-wrapper .css-wrapper img {
  width: unset;
  height: 32px;
}
.technologies .projects-encourager {
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 48px auto;
}

.technologies .projects-encourager .text-wrapper h1 {
  text-align: center;
  margin-bottom: 12px;
}

.technologies .projects-encourager img {
  width: 14px;
  height: 17px;
  margin: 0 auto;
}

.technologies .technology-content {
  flex-direction: column;
}

.features {
  padding: 0 24px;
  width: 100%;
}

.features h1 {
  text-align: center;
  width: 100%;
  margin: 32px auto;
}

.features div {
  width: 100%;
  display: flex;
  list-style: none;
}

.features div > * {
  display: inline-block;
  flex-basis: 50%;
}

.features ul li {
  margin-left: 24px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.features ul li p {
  display: inline;
  margin-left: 8px;
}

.features ul li:before {
  content: "";
  min-width: 8px;
  min-height: 7px;
  display: inline-block;
  background-image: url("../assets/check-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* PROJECTS SECTION */
section.projects {
  height: 100vh;
  position: relative;
}

.projects h4 {
  font-size: 110px;
  line-height: 96px;
}

.projects .bg-text-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
}

.projects .projects-container {
  width: 100%;
}

.projects .swiper-button-prev,
.projects .swiper-button-next {
  display: none;
}

.projects .projects-container .project-wrapper {
  width: 100%;
  position: relative;
}

.projects .projects-container .project-wrapper img {
  opacity: 0.6;
  width: 100%;
  height: 244px;
  object-fit: cover;
}

.projects .projects-container .project-wrapper h1 {
  position: absolute;
  bottom: 12px;
  right: 24px;
  text-align: right;
}

.projects .projects-container .project-wrapper h2 {
  position: absolute;
  font-size: 24px;
  line-height: 24px;
  color: var(--font-color);
  top: 24px;
  left: 24px;
  text-align: right;
}

.projects .scroll-info-wrapper {
  margin-left: auto;
  width: fit-content;
  padding-right: 24px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.projects .scroll-info-wrapper span {
  font-size: 12px;
  color: var(--font-color);
  text-transform: uppercase;
  font-family: "Matroska";
  margin-right: 12px;
}

.projects .scroll-info-wrapper img {
  width: 22px;
  height: 14px;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 72px auto;
}

.contact-container > * {
  text-align: center;
  margin-bottom: 12px;
}

/*footer*/
footer {
  position: absolute;
  bottom: 12px;
  padding: 0 24px;
  overflow: hidden;
  width: 100%;
}
footer .social-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

footer .space-beetween {
  display: flex;
  justify-content: space-between;
}

footer .small-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 9px;
  color: var(--font-color);
}

/*scrollbar*/

.scrollbar {
  position: absolute;
  width: 48px;
  height: 400%;
  left: 0;
  top: 0;
  z-index: 10;
}

.scrollbar .scroll {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scrollbar .scroll .section-name {
  color: var(--font-color);
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
  width: fit-content;
  margin: 0 auto 8px;
}

.scrollbar .scroll .scroll-line {
  width: 2px;
  height: 250px;
  content: "";
  background-color: var(--font-color);
  margin: 0 auto;
}

.scrollbar .scroll .scroll-bar {
  width: 10px;
  height: 200px;
  content: "";
  background-color: var(--font-color);
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, -50px, 0);
}

/*loader*/

.loader {
  z-index: 40;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  animation: fadeout 1s 1.5s forwards;
  display: flex;
  align-items: center;
}

@keyframes fadeout {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.loader .text-wrapper {
  width: 100%;
  overflow: hidden;
}

.loader .text-wrapper h1 {
  text-align: center;
}

.loader .text-wrapper h2 {
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  animation: sliding-left 10s linear;
}

.loader .text-wrapper h2 span {
  margin: 0 12px;
}

@keyframes sliding-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100vw);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 64px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 200px;
    line-height: 148px;
    left: 0;
  }

  p {
    font-size: 20px;
    line-height: 22px;
  }

  main {
    scroll-snap-type: unset;
  }

  .navbar nav {
    display: flex;
    align-items: center;
  }

  .navbar nav ul {
    width: fit-content;
    margin: 0 auto;
    height: fit-content;
  }

  .navbar nav ul li h1 {
    transition: 0.1s all ease-in;
  }

  .navbar nav ul:hover li h1 {
    opacity: 0.3;
  }

  .navbar nav ul:hover li:hover h1 {
    opacity: 1;
  }

  .navbar nav ul li:hover h1 {
    font-size: 76px;
    opacity: 1;
  }

  .navbar nav ul li.active h1::after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--font-color);
    position: absolute;
    left: 50%;
    bottom: 14px;
  }

  .menu-btn {
    position: absolute;
    top: 60px;
    right: 64px;
    width: 49px;
    height: 49px;
    border: 4px solid var(--font-color);
    transition: 0.1s transform ease-in;
  }

  .menu-btn:hover {
    transform: scale(1.3);
  }

  .menu-btn span {
    height: 3px;
    width: 25px;
  }

  .menu-btn span:nth-child(2) {
    margin: 5px 0;
  }

  .menu-btn.active span {
    width: 27px;
  }

  .menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate3d(5px, 5px, 0);
  }

  .menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate3d(5px, -5px, 0);
  }

  .desktop-social-media {
    display: block;
  }

  .desktop-social-media ul.social-media {
    position: absolute;
    bottom: 100px;
    right: 64px;
    display: flex;
    flex-direction: column;
    z-index: 15;
  }

  .social-media li {
    margin-left: 0;
    margin-top: 24px;
    cursor: pointer;
  }

  .social-media li:hover img {
    transform: scale(1.3);
  }

  .social-media li img {
    width: 49px;
    height: 49px;
    transition: 0.1s transform ease-in;
  }

  /* HOME */

  .home .intro-wrapper {
    padding-right: unset;
    padding-left: 24px;
  }
  .home .intro-wrapper .name-wrapper {
    margin-bottom: 48px;
  }

  .home .intro-wrapper .position-wrapper {
    margin-bottom: 48px;
  }

  .home .intro-wrapper ul.social-media {
    display: none;
  }

  .home .img-wrapper {
    margin-right: 24px;
    height: 650px;
    border-radius: 60px;
  }

  .home .img-wrapper > div {
  }

  .home .home-content {
    flex-direction: row-reverse;
    align-items: center;
    width: 888px;
    margin: 0 auto;
  }

  /*TECHNOLOGIES SECTION*/

  .technologies h4 {
    font-size: 100px;
    line-height: 80px;
  }

  .technologies .bg-text-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
  }

  .technologies .technology-wrapper {
    position: relative;
    width: 100%;
    padding-left: 24px;
  }

  .technologies .technology-wrapper img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 60px;
  }

  .technologies .technology-wrapper .img-title-wrapper {
    position: absolute;
    right: 0px;
    bottom: 28px;
    width: 100%;
    padding-left: 24px;
  }

  .technologies .technology-wrapper .img-title-wrapper h1 {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }

  .technologies .technology-wrapper .img-title-wrapper h1 br {
    display: none;
  }

  .technologies .technology-wrapper .circle {
    width: 90px;
    height: 90px;
  }

  .technologies .technology-wrapper .circle img {
    width: 72px;
    height: auto;
    object-fit: contain;
    border-radius: unset;
  }

  .technologies .technology-wrapper .vue-wrapper {
    position: absolute;
    top: 113px;
    left: 66px;
    border-radius: 50%;
    overflow: hidden;
  }

  .technologies .technology-wrapper .vue-wrapper img {
    width: 48px;
    height: auto;
    transform: translateY(2px);
  }

  .technologies .technology-wrapper .react-wrapper {
    position: absolute;
    top: 52px;
    left: 165px;
    border-radius: 50%;
    overflow: hidden;
  }

  .technologies .technology-wrapper .react-wrapper img {
    width: 80px;
    height: auto;
  }

  .technologies .technology-wrapper .ts-wrapper {
    position: absolute;
    top: 172px;
    left: 191px;
    border-radius: 50%;
    overflow: hidden;
  }

  .technologies .technology-wrapper .js-wrapper {
    position: absolute;
    top: 297px;
    left: 193px;
    border-radius: 50%;
    overflow: hidden;
  }

  .technologies .technology-wrapper .js-wrapper img {
    width: 42px;
    height: auto;
    border-radius: 2px;
  }

  .technologies .technology-wrapper .css-wrapper {
    position: absolute;
    top: 236px;
    left: 80px;
    border-radius: 50%;
    overflow: hidden;
  }

  .technologies .technology-wrapper .css-wrapper img {
    width: unset;
    height: 48px;
  }
  .technologies .projects-encourager {
    bottom: 52px;
    margin: 48px auto 0;
    position: absolute;
  }

  .technologies .projects-encourager .text-wrapper h1 {
    text-align: center;
    margin-bottom: 12px;
    max-width: 680px;
    margin: 0 auto 36px;
  }

  .technologies .projects-encourager img {
    width: auto;
    height: 30px;
    margin: 0 auto;
  }

  .technologies .technology-content {
    flex-direction: row-reverse;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 152px;
    justify-content: center;
    align-items: center;
  }

  .features {
    padding: 0 24px 0 0;
    width: 100%;
  }

  .features h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto 48px;
  }

  .features ul li {
    margin-left: 0px;
    margin-bottom: 12px;
    align-items: flex-start;
  }

  .features ul li p {
    margin-left: 8px;
    margin-right: 8px;
  }

  .features ul li:before {
    min-width: 14px;
    min-height: 11px;
    transform: translateY(8px);
  }

  /* PROJECTS SECTION */
  .projects h4 {
    font-size: 150px;
    line-height: 110px;
  }

  .projects .bg-text-wrapper {
    z-index: -1;
  }

  .projects .projects-container {
    width: 100%;
    max-width: 840px;
    padding-top: 60px;
  }

  .projects .projects-swiper-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .projects .swiper-button-prev,
  .projects .swiper-button-next {
    display: block;
    width: 50px;
    height: fit-content;
    margin-top: 60px;
    cursor: pointer;
  }

  @keyframes moveRightLeft {
    20% {
      transform: translateX(5px);
    }

    40% {
      transform: translateX(-5px);
    }

    60% {
      transform: translateX(5px);
    }

    80% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  @keyframes moveLeftRight {
    20% {
      transform: translateX(-5px);
    }

    40% {
      transform: translateX(5px);
    }

    60% {
      transform: translateX(-5px);
    }

    80% {
      transform: translateX(5px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .projects .swiper-button-prev {
    margin-left: auto;
  }

  .projects .swiper-button-prev:hover {
    animation: moveLeftRight 0.8s forwards ease-out;
  }

  .projects .swiper-button-next {
    margin-right: auto;
  }

  .projects .swiper-button-next:hover {
    animation: moveRightLeft 0.8s forwards ease-out;
  }

  .projects .swiper-button-next img {
    transform: rotate(180deg);
  }

  .projects .projects-container .project-wrapper img {
    height: 540px;
    border-radius: 60px;
  }

  .projects .projects-container .project-wrapper h1 {
    position: absolute;
    bottom: 24px;
    left: 50%;
    right: unset;
    text-align: center;
    transform: translate3d(-50%, 0, 0);
    width: calc(100% - 48px);
    font-size: 48px;
  }

  .projects .projects-container .project-wrapper h2 {
    position: absolute;
    font-size: 48px;
    line-height: 50px;
    top: 24px;
    left: 48px;
    text-align: left;
  }

  .projects .scroll-info-wrapper {
    display: none;
  }

  /*footer*/

  footer .social-wrapper {
    display: none;
  }

  footer .small-text {
    font-size: 12px;
    line-height: 14px;
  }

  .scrollbar .scroll .section-name {
    font-size: 16px;
  }
}

@media (min-width: 1260px) {
  .home .intro-wrapper .vintage {
    font-family: "Matroska";
    font-size: 100px;
    line-height: 100px;
    color: var(--font-color);
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    transform: translate3d(170px, -93px, 0);
  }
}
